
<div class="modal" id="ModalActividadesDia" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Detalle</h4>
            </div>
            <div class="modal-body">
                <!--inicia-->
                <div class="row">
                    <div class="table-responsive">
                        <table class="table datatable text" id="TblLstActividadesDia">
                            <thead>
                                <tr>
                                    <th width="10%">Id</th>
                                    <th>Descripción</th>
                                    <th>Asignado</th>
                                    <th>Capturado</th>
                                    <th>Estatus</th>
                                    <th width="10%"></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
                <!--termina-->
            </div>
        </div>
    </div>
</div>


