


<div class="modal" id="MdlShareAct" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id=""><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="TituloShareAct"></h4>
            </div>
            <div class="modal-body">
                <!--inicia-->
                <div class="row">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="row">

                                <div class="col-md-12" style="padding-top:20px">
                                    <h5><i class="fa fa-desktop"></i> Con acceso a YITPRO </h5>

                                    <div class="input-group">
                                        <label id="TxtUrlCompartir" type="text" class="form-control btnshareact" item="Id"></label>
                                        <div class="input-group-btn">
                                            <button id="btnshareact" data-clipboard-target="#TxtUrlCompartir" class="btn btn-default"><span class="fa fa-copy"></span></button>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <br />
                            <div class="row">

                                <div class="col-md-12">

                                    <h5><i class="fa fa-globe"></i> Cualquiera </h5>

                                    <div class="input-group">
                                        <label id="TxtUrlCompartirP" type="text" class="form-control btnshareactp" item="Id"></label>
                                        <div class="input-group-btn">
                                            <button id="btnshareactp" data-clipboard-target="#TxtUrlShareQE" class="btn btn-default btnshareqe"><span class="fa fa-copy"></span></button>
                                        </div>
                                    </div>
                                </div>



                            </div>



                        </div>

                    </form>

                </div>
                <!--termina-->
            </div>

        </div>
    </div>
</div>