@{
    ViewBag.Title = "Generar compensaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var environment = System.Configuration.ConfigurationManager.AppSettings["Environment"];
}

@{
    if (environment == "Development")
    {
        <script type="module" src="http://localhost:5173/src/features/index-compensaciones.tsx"></script>
    }
    else
    {
        <script type="module" src="~/react/dist/assets/compensaciones.js"></script>
    }
}

<div id="compensaciones-root"></div>
