@{ 
    var environment = System.Configuration.ConfigurationManager.AppSettings["Environment"];
}
@{
    if (environment == "Development")
    {
        <script type="module" src="http://localhost:5173/src/features/index-chatBotOpenAI.tsx"></script>
    }
    else
    {
        <script type="module" src="~/react/dist/assets/chatBotOpenAI.js"></script>
    }
}

<div id="chatbot"></div>

<!-- Incluye React, ReactDOM y el archivo bundle.js -->
@*<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
<script src="~/wwwroot/js/bundle-chatBotOpenAI.js"></script>*@

