@{
    ViewBag.Title = "Reporte de trabajo";
}

<link rel="stylesheet" href="~/Content/jquery.powertip.css" />

<div class="page-title">
    <h2><span class="fa fa-file-o"></span> Reporte de trabajo</h2>
</div>

<div class="col-md-12">
    <div class="form-horizontal col-md-12" style=" display: flex; justify-content: space-between;">
        <div class="form-group col-md-3">
            <label for="dateFiltroInicio" class="col-md-3 control-label">Fecha</label>
            <div class="col-md-9">
                <input type="text" autocomplete="off" id="dateFecha" class="form-control DateRangePicker" />
            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="dateFiltroInicio" class="col-md-2 control-label">Proyecto</label>
            <div class="col-md-10">
                <select class="form-control btn-group selectpicker show-tick" data-actions-box="true" data-live-search="true" id="cmbProyecto" multiple>
                </select>
            </div>
        </div>
        @*<div class="form-group col-md-4">
            <label for="dateFiltroInicio" class="col-md-2 control-label">Recurso</label>
            <div class="col-md-10">
                <select class="form-control btn-group selectpicker show-tick" data-actions-box="true" data-live-search="true" id="cmbRecurso" multiple>
                </select>
            </div>
        </div>*@
        <div class="form-group col-md-1">
            <div class="col-md-12" style="text-align:start">
                <button class="btn btn-info" id="btnFiltrar"><span class="fa fa-search"></span></button>
            </div>
        </div>
        <div class="col-md-2" style="text-align:end">
            <button class="btn btn-primary" id="btnExportar" style="">Exportar <span class="fa fa-file-excel-o"></span></button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" style="border-top: none; padding-top: 0px">
            <div class="panel-heading" style="border: none; padding-top: 0px;">
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table datatable text" id="dtReporte">
                        <thead>
                            <tr>
                                <th class="text-center" width="6%">Actividad</th>
                                <th class="text-center" width="8%">Recurso</th>
                                <th class="text-center" width="10%">Proyecto</th>
                                <th class="text-center" width="9%">Clave P.</th>
                                <th class="text-center" width="7%">Fase</th>
                                <th class="text-center" width="7%">Clasificacion</th>
                                <th class="text-center" width="6%">Req.</th>
                                <th class="text-center" width="17%">Descripcion</th>
                                <th class="text-center" width="7%">Fecha</th>
                                <th class="text-center" width="5%">Tiempo</th>
                                <th class="text-center" width="18%">Comentario</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.powertip.js"></script>

@Html.Hidden("LeerComboProyecto", Url.Action("LeerComboProyecto", "Report"))
@Html.Hidden("LeerReporteTrabajoTiempo", Url.Action("LeerReporteTrabajoTiempo", "Report"))
@Html.Hidden("DescargarExcelReporteTrabajo", Url.Action("DescargarExcelReporteTrabajo", "Report"))

@section scripts{
    <script type="text/javascript" src="~/Scripts/Project/ReporteTrabajo.js"></script>
}
