
<div class="modal" id="ModalUsuarioRetardos" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Detalle Retardos</h4>
            </div>
            <div class="modal-body">
                <!--inicia-->
                <div class="row">
                    <div class="table-responsive">
                        <table class="table datatable text" id="TblLstRetardos">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Recurso</th>
                                    <th>Tiempo retardo (Minutos)</th>


                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>

                    </div>
                </div>
                <!--termina-->
            </div>
        </div>
    </div>
</div>
