
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var environment = System.Configuration.ConfigurationManager.AppSettings["Environment"];

}
@{
    if (environment == "Development")
    {
        <script type="module" src="http://localhost:5173/src/features/index-workspace.tsx"></script>
    }
    else
    {
        <script type="module" src="~/react/dist/assets/workspace.js"></script>
    }
}

<script>

    $(document).ready(function () {

        if ($(".page-sidebar .x-navigation").hasClass("x-navigation-minimized")) {
            $(".page-container").removeClass("page-navigation-toggled");
            x_navigation_minimize("open");
        } else {
            $(".page-container").addClass("page-navigation-toggled");
            x_navigation_minimize("close");
        }
    });

</script>

<link href="~/Content/Timeline.css" type="text/css" />
<div id="workspace"></div>



<!-- Incluye React, ReactDOM y el archivo bundle.js -->
@*<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="~/wwwroot/js/bundle-workspace.js"></script>*@

